<h2>Videos</h2>
<div class="mb-3">
    <label for="categorySelect" class="form-label">Filtrar por Categoría:</label>
    <select id="categorySelect" class="form-select" ng-model="selectedCategory" ng-change="filterByCategory(selectedCategory)">
        <option value="">Todas las Categorías</option>
        <option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</option>
    </select>
</div>
<div class="row">
    <div class="col-md-4 mb-3" ng-repeat="video in videos">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ video.name }}</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{ video.url | trusted }}" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>